<div class="container">
  <form (ngSubmit)="logIn(formData)" #formData='ngForm'>
    <div style="display: inline-grid; margin: 10px">
      <label>Email</label>
      <input ngModel type="email" name="email" required>

      <label>Password</label>
      <input ngModel type="password" name="password" required>

      <button type="submit" [disabled]="formData.invalid">Log in</button>
      <button type="button" [disabled]="formData.invalid" (click)="signUp(formData)">Sign Up</button>
    </div>
  </form>
</div>
