input {
  width: 100%;
  margin-bottom: 3px;
}


.buttons{
  display: flex;
  justify-content: space-between;
}


button {
  width: 48%;
  background-color: cornflowerblue;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}


button:hover {
  background-color: darkblue;
}

button:disabled {
  background-color: lightgray;
  cursor: default;
}
